/* PROUT */

/** GENERAL **/

:root {
    --darkGray: #2e303e;
    --green: #009384;
    --orange: #e7a707;

    --lightGray: #959595;
    --noOpaBlack: rgba(0, 0, 0, 0.15);
    --middleOpaBlack: rgba(0, 0, 0, 0.4);

    --red: #d96565;
    --blue: #3a9bef;
    --lightGreen: #14a22c;
}

html,
body {
    width: 100%;
    font-family: Montserrat;
    background-color: var(--white);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--darkGray);
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    color: white;

    overflow: hidden;
    height: 100vh;
}

main {
    overflow-y: auto;

    padding: 3em;
    /* height: calc(100% - 87px); */
}

/** GENERAL MAIS UN PEU MOINS **/

section {
    display: flex;
    width: 100%;
}

.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
}

.ouPas {
    flex-direction: column;
    margin: 0;
}

.title {
    width: 100%;
    height: auto;
}

.title .underline {
    height: 4px;
    width: 60px;
    background-color: var(--orange);
}

.box-shadow {
    box-shadow: 2px 2px 10px var(--noOpaBlack);
}

a.resetPwd {
    color: white;
    font-style: italic;
    text-align: end;
    margin-top: 2em;
}

a.resetPwd span {
    color: var(--orange);
    font-weight: bold;
}

a.resetPwd:hover {
    color: var(--orange);
}

a.resetPwd:hover span {
    color: var(--green);
}

.mainContent .aButton {
    padding: 1em;
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;

    display: block;

    transition: 0.5s ease background-color;
}

.mainContent .aButton:hover {
    background-color: var(--orange);
}

.mainContent .button-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0.1em;
}

.mainContent .button-blue {
    background-color: var(--blue);
}

.mainContent .button-red {
    background-color: var(--red);
}

/** NAVBAR **/

nav {
    padding: 1.5em 2.5em;
    background-color: var(--darkGray);

    line-height: 1;
}

nav #navbrand-green {
    font-weight: bold;
    font-size: 2em;
    color: var(--green);
}

nav #navbrand-white {
    font-weight: bold;
    font-size: 1.5em;
    color: white;

    align-self: end;
}

nav #navbrand-orange {
    color: var(--orange);
    font-size: 0.9em;

    align-self: end;
}

nav .nav-link {
    margin: 0 1.5em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 0 0 0.5em 0;
}

nav .nav-link:hover {
    color: var(--orange);
}

nav .nav-deconnect {
    padding: 1.2em;
    background-color: var(--noOpaBlack);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    transition: ease 0.5s;
}

nav .nav-deconnect:hover {
    background-color: var(--orange);

    transition: ease 0.5s;
}

nav .active {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

nav .active:hover {
    border-bottom: 2px solid var(--orange);
}

/** EN TOUT PETIT POUR LA NAVBAR **/

@media screen and (max-width: 820px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin: 1em;
    }

    nav .navbrand {
        width: auto;
    }

    nav .nav-deconnect {
        margin-top: 1.5em;
        display: block;
    }
}

/** LOGIN PAGE **/

.mainContent form {
    width: 40%;

    padding: 8em 5em 4em;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: var(--noOpaBlack);
}

.mainContent form input {
    margin: auto;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;

    outline: none;
    background-color: var(--darkGray);
    border: none;
    border-radius: 10px;

    color: white;
}

.mainContent form input::placeholder {
    color: var(--lightGray);
    font-style: italic;
}

.mainContent form button {
    height: 50px;
    width: fit-content;
    padding: 0 1em;
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    border: none;
    margin: auto;
    transform: translateY(calc(50% + 4em));
    text-transform: uppercase;
    transition: 0.5s ease background-color;
}

.mainContent form button:hover {
    background-color: var(--orange);
}

.mainContent figure {
    display: flex;
    align-items: center;
    /* width: 80%; */
    height: auto;
}

.mainContent figure img {
    margin: auto;
    min-width: 600px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

/** CONNECTED PAGE **/
.ouPas figure {
    height: 100%;
    width: 100%;
}

.ouPas figure img {
    border-radius: 0;
    height: 80%;
}

.ouPas h1 {
    font-weight: bold;
}

.ouPas h1 {
    text-transform: uppercase;
}

.ouPas h1 #pseudal {
    color: var(--orange);
    text-transform: initial;
}

/** EN TOUT PETIT POUR LE GIF D'ACCUEIL **/

@media screen and (max-width: 600px) {
    .ouPas figure {
        margin-top: 0;
    }

    .ouPas figure img {
        width: 100%;
        height: auto;
    }
}

/** PROFIL **/
.mainContent#profil {
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    padding: 2em 5em 3em;

    background-color: var(--noOpaBlack);
    border-radius: 10px;
}

.mainContent#profil h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--orange);

    margin: 0 0 1.5em;
}

.mainContent#profil ul {
    list-style-type: none;
    width: 100%;
}

.mainContent#profil li {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.mainContent#profil li p {
    display: inline-block;
    width: 50%;
}

.mainContent#profil .profilItem {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.3em;
}

.mainContent#profil #osef {
    color: var(--orange);
    font-size: 0.5em;
    font-weight: normal;
}

.mainContent#profil .aButton {
    transform: translateY(calc(50% + 3em));
}

/** UTILISATEURS **/
#display-users {
    flex-direction: column;
}

#addUserButton {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    margin: 2em 2em 2em auto;
    background-color: var(--green);
    padding: 1em;
    border-radius: 10px;
    color: white;
    text-decoration: none;

    transition: ease 0.5s background-color;
}

#addUserButton:hover {
    background-color: var(--orange);
}

#addUserButton svg {
    width: 20px;
    height: auto;
}

#addUserButton svg > path {
    fill: white;
}

#addUserButton p {
    margin: 0 0 0 2em;
    text-transform: uppercase;
}

.mainContent#users {
    width: 100%;
    max-width: 1300px;
    flex-direction: column;
    padding: 3em;

    background-color: var(--noOpaBlack);
    border-radius: 10px;

    margin: auto;
}

.mainContent#users table {
    color: white;
    margin-bottom: 0;
}

.mainContent#users tbody,
.mainContent#users td,
.mainContent#users tfoot,
.mainContent#users th,
.mainContent#users thead,
.mainContent#users tr {
    border: none;
    vertical-align: middle;
}

.mainContent#users table > :not(caption) > * > * {
    padding: 0.7em;
}

.mainContent#users thead tr th {
    padding-bottom: 2.5em;
}

.mainContent#users table thead {
    color: var(--lightGray);
}

.mainContent#users table .userId {
    color: var(--orange);
}

.mainContent#users table th svg {
    height: 30px;
}

.mainContent#users table th svg > path {
    fill: var(--lightGray);
}

.mainContent#users #action-buttons {
    display: flex;
    flex-direction: row;
}

.mainContent#users #action-buttons .button-red {
    margin-right: 0.7em;
}

.mainContent#users .button-round {
    transition: ease 0.5s background-color;
}

.mainContent#users .button-round:hover {
    background-color: var(--orange);
}

.mainContent#users .button-round svg {
    height: 30px;
    width: auto;
    margin: auto;
}

.mainContent#users .button-round svg > path {
    fill: var(--darkGray);
}

/** RESET MOT DE PASSE **/
/* #blabla_troll {
    margin-top: 3em;
} */

/** ALERTES **/
.alert {
    position: fixed;
    z-index: 999;
    top: 2em;
    right: 2em;
    border: none;
}

.alert.alert-success {
    border-right: var(--green) 6px solid;
    background-color: #2e444d;
    color: var(--green);
}

.alert.alert-danger {
    border-right: var(--red) 6px solid;
    background-color: #483243;
    color: var(--red);
}

section.error {
    flex-direction: column;
    align-items: center;
}

section.error figure {
    width: 40%;
    height: auto;
}

section.error img {
    width: 100%;
    height: auto;
}

/** MOBILE **/

@media screen and (max-width: 1024px) {
    /*** LOGIN PAGE ***/

    .mainContent {
        flex-direction: column-reverse;
        max-width: 700px;
    }

    .mainContent form,
    .mainContent figure {
        width: 100%;
    }

    .mainContent form {
        margin: 2em auto;
        padding: 4em 2em 2em;
    }

    .mainContent form button {
        transform: translateY(calc(50% + 2em));
    }

    .mainContent figure {
        width: 100%;
        max-width: 500px;
        margin-top: 2em;
    }

    .mainContent figure img {
        min-width: auto;
    }

    /*** PROFIL ***/

    .mainContent#profil {
        margin-top: 2em;
        padding: 1em;
    }

    .mainContent#profil ul {
        padding: 0;
    }

    .mainContent#profil li {
        flex-direction: column;
    }

    .mainContent#profil li p {
        display: inline;
        width: auto;
        word-break: break-all;
        text-align: center;
    }

    .mainContent#profil .aButton {
        transform: translateY(calc(50% + 1em));
    }

    /*** ERREURS ***/
    section.error figure {
		width: 90%;
		height: auto;
	}

	section.error img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 926px) {
    /*** TABLO DE MORT ***/
    #addUserButton {
        margin: 2em auto;
    }

    .mainContent#users {
        padding: 1em;
    }

    .mainContent#users table {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    /*** PETITES MARGES ***/
    nav {
        padding: 1.5em 1em;
    }

    main {
        padding: 3em 1em;
    }
}
