.headerLogo {
    width: 100%;
    display: flex;
    margin-bottom: 2.4em;
}

.headerLogo .caption {
    text-align: center;
    font-size: 1.8em;
    width: 100%;
}

.headerLogo .figure {
    max-width: 160px;
    margin: 1em 0;
    padding: 0;
    margin: auto;
    display: flex;
    width: 160px;
    flex-direction: column;
}

.headerLogo .image {
    padding: 1em;
    width: calc(100% - 2em);
    height: auto;
}

@media screen and (max-width: 1200px) {
    .headerLogo {
        width: auto;
        height: auto;
        margin: 0;
    }

    .headerLogo .figure {
        width: auto;
        margin: 0;
    }

    .headerLogo .caption {
        display: none;
    }

    .headerLogo .image {
        width: calc(4em);
        padding: 0;
    }
}
