section.secFigure figure {
    margin: auto;
    width: 500px;
}

section.secFigure figure img {
    width: 100%;
    height: auto;
    border-radius: 0.4em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1200px) {
    section.secFigure {
        display: none;

        width: calc(80% - 2em);
        margin: 1em;
        margin-bottom: 0;
    }
}
