form.changePwdForm {
    display: flex;
    flex-direction: column;
}

form.changePwdForm .row {
    display: flex;
    flex-direction: row;
    margin: 0.4em 0;
}

form.changePwdForm .row .item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1.6em);
    padding: 0.8em;
}

form.changePwdForm .row .item.col-6 {
    width: calc(50% - 1.6em);
    margin: auto;
}

form.changePwdForm button {
    cursor: pointer;
}

form.changePwdForm .row .item .itemTitle {
    margin: 0;
    padding: 0.8em 0;
    color: var(--main);
    font-size: 1.2em;
}

form.changePwdForm .row .item .itemContent {
    width: calc(100% - 1.6em);
    background-color: #2e303e77;
    padding: 1em 0.8em;
    border: none;
    border-radius: 0.4em;
    color: var(--white);
    font-size: 1em;
    transition: border-color 0.15s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

form.changePwdForm .row .item input.itemContent:read-only {
    color: #e5e5e55e;
    box-shadow: none;
    background-color: #2e303e2d;
}

form.changePwdForm .row .item .button.itemContent {
    background-color: var(--main);
    color: var(--white);
    text-decoration: none;
}

form.changePwdForm .row .item .button.itemContent:hover,
form.changePwdForm button.submit:hover {
    background-color: var(--second);
}

form.changePwdForm button.submit {
    width: 60%;
    background-color: var(--main);
    color: var(--white);
    padding: 1em 0.8em;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: auto;
    transform: translateY(calc(50% + 2em));
}

@media screen and (max-width: 1200px) {
    form.changePwdForm .row {
        flex-direction: column;
    }

    form.changePwdForm .row .item,
    form.changePwdForm .row .item.col-6 {
        padding: 0;
        width: 100%;
    }
}
