div.notAuthContainer {
    overflow: hidden;
    overflow-y: auto;
}

div.notAuthContainer main {
    display: flex;

    height: calc(100vh - var(--header-height) - 1.6em);
    width: 100vw;
}

div.notAuthContainer div.container {
    margin: auto;
    display: flex;
    flex-direction: row;
}

div.notAuthContainer section {
    display: flex;
    margin: 0 4em;
}

@media screen and (max-width: 950px) {
    div.notAuthContainer div.container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    div.notAuthContainer section {
        margin: 1em 0;
        max-width: 400px;
    }
}
